// STYLE POUR NOTRE INTERFACE

section:last-child

.portfolio {
  display: flex;

  flex-wrap: wrap;

  .project {
  width: calc(33.33% - 10px);

    margin: 5px;
    padding: 10px;

    border: 1px dashed;

    display: flex;
    flex-direction: column;

    h2, p {
      margin: 0;
    }

    img {
      order: -1;

      margin-bottom: 15px;
    }

    &-red {
      background-color: lighten($red, 45%);
      border-color: darken($red, 10%);

      h2, p {
        color: $red;
      }
    }

    &-yellow {
      background-color: lighten($yellow, 40%);
      border-color: darken($yellow, 10%);

      h2, p {
        color: $yellow;
      }
    }

    &-teal {
      background-color: lighten($teal, 45%);
      border-color: darken($teal, 10%);

      h2, p {
        color: $teal;
      }
    }

    &-blue {
      background-color: lighten($blue, 90%);
      border-color: darken($blue, 10%);

      h2, p {
        color: $blue;
      }
    }

  }

}

@media screen and (max-width: $vw-medium) {
  .portfolio .project{
    width: calc(50% - 10px);
  }
}

@media screen and (max-width: $vw-small) {
  .portfolio .project{
    width: 100%;

  }
}




