// LES STYLES DE BASE DES BALISES <h>

h1,h2,h3,h4,h5,h6{
  @include font($ff-heading);

  font-weight: bold;
}

h1{
font-size: rem(60);

text-transform: uppercase;
}

h2{
font-size: rem(24);

text-transform: uppercase;
}

h3{
font-size: rem(24);
}

h4{
font-size: rem(22);
}

h5{
font-size: rem(20);
}

h6{
font-size: rem(16);
}