//FICHIER DE CONFIGURATION POUR LES VARIABLES DE COULEUR

// Couleur de base 
$white: #fff;
$black: #303044;

// Couleur de projet

$color-text: lighten($black, 15%);
$color-link-text: lighten($black, 15%);

$blue: rgba(1, 22, 39, 1);
$teal: rgba(46, 196, 182, 1);
$red: rgba(231, 29, 54, 1);
$yellow: rgba(255, 159, 28, 1);
