//FICHIER DE CONFIGURATION POUR LES VARIABLES DE POLICE


/// Grosseur des textes
$font-size: rem(16);

$line-height: rem(24);

/// Font family

$ff-heading: 'Saira Extra Condensed', sans-serif;
$ff-normal: 'Open Sans Condensed', sans-serif;

/// Fonts weight
$fw-light: 300;
$fw-regular: 400;
$fw-semibold: 500;
$fw-bold: 700;
